.candle
{
    text-align:center;
     width:100%;
     

}


.i {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.multi-des
{
    width:45%;
    float:left;
    height:auto;
    text-align:left;
    margin-left:3%;
    overflow:hidden;
   

}
.h 
{ 
    width:100%;
   height:auto;
    text-align:center;
    overflow:hidden;
   padding-bottom:10px;
   margin-top: 50px;

}
.linkbutton2 {
	height: 40px;
	padding: 0 1.875rem;
	color: #063f3f;
	background-color: #ccf2f2;
	backdrop-filter: blur(4px);
	border: 2px solid #ccf2f2;
	max-width: 340px;
	border-radius: 4px;

}
.cent2 {
text-align: center;


}